/* Global */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Red Hat Display', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
text-decoration: none;
}
ul{
list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
}
:root{
    --Pale-blue:hsl(225, 100%, 94%);
    --Bright-color:hsl(245, 75%, 52%);
    --Very-pale-blue:hsl(225, 100%, 98%);
    --Desaturated-blue:hsl(224, 23%, 55%);
    --Dark-blue:hsl(223, 47%, 23%);
    --main-padding-bottom:20px;
}
p{
    font-size: 16px;
}
/* Screen Size */
/* Small */
@media (min-width:768px) {
    .container{
        width:720px
    }
    
}

/* Medium */
@media (min-width:992px){
    .container{
        width: 970px;
    }
}

/* Large */
@media(min-width:1200px){
    .container{
        width:1170px;
    }
}
/* Screen Size */
/* Global */
.project .container{
    width: 1440px;
    height: 100vh;
    background-color: var(--Pale-blue);
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
}
@media(max-width:767px){
    .project .container{
        width: 375px;
        background-image: url(../images/pattern-background-mobile.svg);
    }
}
.project .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-pale-blue);
    padding-bottom: 30px;
}
@media(max-width:767px){
    .project .box{
        width: 90%;
        box-shadow: 0 10px 20px var(--Desaturated-blue) ;
    }
}
.project .box  > img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-width: 100%;
}
.project .box .summary{
    width: 300px;
    padding-top: 50px;
    padding-bottom: var(--main-padding-bottom);
    text-align: center;
}
.project .box .summary h3{
    font-weight: 800;
    font-size: 30px;
    line-height: 3;
    color: var(--Dark-blue);
}
.project .box .summary p{
    line-height: 1.5;
    color: var(--Desaturated-blue)
}
.project .box .plan{
    background-color: hsl(224, 23%, 55% , 5%) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    gap: 50px;
    padding: 15px 20px;
    padding-bottom: var(--main-padding-bottom);
    border-radius: 10px;
}
@media(max-width:767px){
    .project .box .plan{
        width: 90%;
    }
}
.project .box .plan .annual{
    margin-left: -80px;
    line-height: 1.5;
}
@media(max-width:767px){
    .project .box .plan .annual{
        margin-left: -40px;
    }
}
.project .box .plan .annual h4{
    color:var(--Dark-blue) ;
}
.project .box .plan .annual p{
    color: var(--Desaturated-blue)
}
.project .box .plan a{
    text-decoration: underline;
    font-weight: bold;
    color: #4939ff;
    transition: 0.3s;
}
.project .box .plan a:hover{
    text-decoration: none;
    color: #766cf1;
}
.project .box .payment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 15px 20px;
    gap: 20px;
}
@media(max-width:767px){
    .project .box .payment{
        width: 90%;
    }
}
.project .box .payment a:first-child{
    background-color: var(--Bright-color);
    border-radius: 10px;
    color: white;
    width: 100%;
    text-align: center;
    padding: 14px 20px;
    box-shadow: 0 10px 20px var(--Desaturated-blue);
    transition: 0.3s;
}
.project .box .payment a:first-child:hover{
    background-color:#766cf1 ;
}
.project .box .payment a:last-child{
    padding: 15px;
    font-weight: bold;
    color: var(--Desaturated-blue);
    transition: 0.3s;
}
.project .box .payment a:last-child:hover{
    color: var(--Dark-blue);
}